<br>

<div class="example-button-row">
    <button mat-fab matTooltip="add a task"
            color="primary"
            (click)="openAddUpdateTask()"
            aria-label="Example fab with a heart icon">
        <mat-icon>favorite</mat-icon>
    </button>
</div>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 tasks-table">
    <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> title</th>
        <td mat-cell *matCellDef="let element"> {{ element.title }}</td>
    </ng-container>

  <ng-container matColumnDef="completed">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> completed </th>
    <td mat-cell *matCellDef="let element"> {{element.completed}} </td>
  </ng-container>

    <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> createdAt</th>
        <td mat-cell *matCellDef="let element"> {{ element.createdAt | date:'medium' }}</td>
    </ng-container>

    <ng-container matColumnDef="updatedAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> updatedAt</th>
        <td mat-cell *matCellDef="let element"> {{ element.updatedAt  | date:'medium' }}</td>
    </ng-container>

    <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
            <button class="edit-cols" mat-icon-button
                    color="primary"
                    (click)="openAddUpdateTask(element)">
                <mat-icon>mode_edit</mat-icon>
            </button>
        </td>
    </ng-container>

    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
            <button class="edit-cols" mat-icon-button
                    color="warn"
                    (click)="deleteTask(element)">
                <mat-icon>delete_forever</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
