.tree-item {
  background: #d6edd6;
  display: inline-block;
  padding: 5px 20px;
  border: 2px solid #55d355;
  border-radius: 5px;
}

ul {
  list-style: none;
}

li {
  list-style: none;
  padding: 10px 0 0;
}
