<div class="edit-contact-form" *ngIf="form">

  <h2 mat-dialog-title> {{ addOrEdit }} dialog </h2>

  <mat-dialog-content [formGroup]="form">

    <mat-form-field>
      <mat-label>name</mat-label>
      <input matInput placeholder="name" formControlName="name">
    </mat-form-field>

    <mat-form-field>
      <mat-label>phone</mat-label>
      <input matInput placeholder="phone" formControlName="phone">
    </mat-form-field>

    <mat-form-field>
      <mat-label>email</mat-label>
      <input matInput placeholder="email" formControlName="email">
    </mat-form-field>

  </mat-dialog-content>

  <mat-dialog-actions>

    <button mat-raised-button (click)="back()">back</button>
    <button [disabled]="!form.valid" mat-raised-button color="primary" (click)="save()">save</button>

  </mat-dialog-actions>

</div>
